.idea/*
repos/*
.gitignore
*pycache*
*.pyc
*pytest_cache*
htmlcov/*
static/js/*

# specific files
config/config.ini
config/users.ini
config/trello_lists.ini
data/git_treasures.db
.coverage
.scannerwork