<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GitTreasures</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Default stylesheet -->
        <link rel="stylesheet" href="static/styles/style_default.css">
    </head>
    <!-- head -->

    <body>
        <div class="jumbotron">
            <div class="container">
                <h1>GitTreasures</h1>
                <p>Trello - Jira - Git Reconciler</p>

                <p id="instructions">To use this endpoint, click <strong>Live Mode</strong>. To use it in test mode, click <strong>Test Mode</strong>. To use it to populate a regression test suite from Jira stories click <strong>TestRail</strong>.</p>
                <div class="btn-group">
                    <a class="btn btn-large btn-danger gtcontrols" href="/git_treasures">Live Mode</a>
                    <a class="btn btn-large btn-success gtcontrols" href="/git_treasures_dev">Test Mode</a>
                    <a class="btn btn-large btn-info gtcontrols" href="/git_treasures_testrail">TestRail</a>
                </div>
            </div>
        </div>
        <!-- jumbotron -->

        <div class="container">
            <div class="card mb-3">
                <div class="card-header">Most recent commit</div>
                <br>

                <div class="card-body">
                    <table>
                        <tbody>
                            <!-- Ditching the loop so I can display the dict values in the same order explicitly -->
                            <tr>
                                <td width="200">Date: </td><td width="800">{{ commit_data["date"] }} </td>
                            </tr>
                            <tr>
                                <td width="200">Author: </td><td width="800">{{ commit_data["author"] }} </td>
                            </tr>
                            <tr>
                                <td width="200">Message: </td><td width="800">{{ commit_data["message"] }} </td>
                            </tr>
                            <tr>
                                <td width="200">Hash: </td><td width="800">{{ commit_data["hash"] }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>

            </div>
                <div class="card mb-3">
                <div class="card-header">TestRail Test Results</div>
                <br>

                <div class="card-body">
                    <table>
                        <tbody>
                            <tr>
                                <td width="200">Date: </td><td width="800">coming soon</td>
                            </tr>
                            <tr>
                                <td width="200">Test Run: </td><td width="800">coming soon</td>
                            </tr>
                            <tr>
                                <td width="200">Project: </td><td width="800">coming soon</td>
                            </tr>
                            <tr>
                                <td width="200">Status: </td><td width="800">coming soon</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>

            </div>
        </div>
    </body>
    <!-- body -->
</html>